*{
background-color:  #263859;
color: gold;

}


.container{
    width: 280px;
    margin: 25px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #263859;
    border-radius: 8px;
    box-shadow: 0 0 0px 2px yellow ;
    
}

.heart{
 width: 30px;
    height: 30px;
    align-self: flex-end;
    margin-right: 5px;
  

}


.rating{
    
    width: 85px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
}
.rating:hover{
    background-color: yellow;
}

.card-container{
   
    display: flex;
    flex-wrap: wrap; 
  }


  .btn{
width: 250px;
height: 40px;
border-radius: 10px;
background-color: rgb(247, 247, 25);
color: black;
font-size: 15px;

  }


.card{
    display: inline;
}
  .img-box{
    width: 200px;
    height: 220px;
  }
  /* .img-box:hover{

  } */