.container{
    margin: 10px;
    width: 250px;
    margin: 5px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 90);
    border: solid 2px yellow;
    color: yellow;



}

.heart{
 width: 30px;
height: 30px;
align-self: flex-end;
margin-right: 5px;

}
.heart:hover{
background-color: red;

}
.container img{
    width:150px;
    height: 200px;
    
}

.ratingstar{

    display: flex;
    flex-direction: row;
}
.rating{
    width: 20px;
    height: 20px;
    padding: 2px;
}
.rating:hover{
    background-color: yellow;
}

.cardcon{
   
    display: flex;
    flex-wrap: wrap;
    margin: 45px;
}
   
.name{
font-size: medium;
color: rgb(240, 240, 48);
margin: 15px;
}
    
/* .card{
    display: inline;
} */
